.loader-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;

    .logo {
        font-size: 9em;
    }

    .line {
        font-size: 2em;
        font-weight: 500;
    }
}
