.loader-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    overflow: hidden;

    .logo {
        font-size: 8em;
    }

    .line {
        font-size: 1.7em;
        font-weight: 500;
    }
}
