.song-main {
    margin-left: 20px;
    position: relative;
    .song-name {
        font-size: 60px;
    }

    .song-lines {
        font-size: 1.2em;
        color: #393e41;
    }
}

.song-line-main {
    width: fit-content;
    &.active {
        .translated-line {
            font-weight: 500;
            background-color: lightgray;
        }
    }

    .translated-line {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3px;
    }
}

.translated-word-component {
    position: relative;

    .word {
        text-decoration: underline;
        text-decoration-color: tomato;
    }

    .translation-bubble {
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 7px;
        border-radius: 3px;
        z-index: 2;
        top: 10px;
        background-color: #393e41;
        color: aliceblue;
        white-space: nowrap;
    }
}
