.main-component {
    max-width: 992px;
    min-height: 100vh;
    position: relative;
    margin: 0 auto;
    background-color: ivory;
    display: flex;
    flex-direction: column;

    &.is-loader {
        overflow: hidden;
    }
}
